ion-item {
  margin: auto;
  border: 1px solid rgba(20, 19, 20, 0.09);

  border-radius: 10px;
  height: 35px;
  // box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.05);
  margin: 10px;
  margin-top: 10px;
  ion-input {
    font-size: 15px;
    --padding-start: 5px;
    // font-family: "Truculenta";
  }
}

.btnCenter {
  display: block;
}

ion-button {
  display: inline-block;
  margin: auto;
  padding-left: 8px;
}
ion-label {
  font-size: 17px;
  padding-left: 10px;
  font-family: "Truculenta";
  font-weight: 300;
}
