<ion-content class="ion-padding">
    <div class="mapa">
      <div #map id="map"  style="width: 100%;height: 100%;"></div>
    </div>
    <ion-list class="ion-margin-top border-top" > 
      <ion-item  lines="none">
        <ion-label class="ion-bold"  >Nombre: </ion-label>
      <ion-input type="text" placeholder="Nombre" [value]="ciudadano.nombre" readonly></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label class="ion-bold"  >Apellido: </ion-label>
      <ion-input type="text" placeholder="Apellido" [value]="ciudadano.apellido" readonly></ion-input>
    </ion-item>

    <ion-item lines="none">
       <ion-label class="ion-bold"  >Dirección: </ion-label>
      <ion-input type="text" placeholder="Direccion" [value]="ciudadano.direccion" readonly></ion-input>
    </ion-item>

    <ion-item lines="none">
       <ion-label class="ion-bold"  >Teléfono: </ion-label>
      <ion-input type="text" placeholder="Telefono" [value]="ciudadano.telefono" readonly></ion-input>
    </ion-item>

    <ion-item lines="none">
       <ion-label class="ion-bold"  >Coordenadas: </ion-label>
      <ion-input type="text" placeholder="Coordenadas" [value]="coordendas" readonly></ion-input>
    </ion-item>

    <ion-button (click)="salir()" class="ion-margin-top centrar " mode="ios" shape="round" expand="full"   color="primary">
      Regresar
    </ion-button>

    
  </ion-list>
</ion-content>