
  <ion-tabs >
    <ion-tab-bar slot="bottom" color="primary">

      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle" color="light"></ion-icon>
        <ion-label color="light">Perfil</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
      
      <ion-tab-button tab="home" >
        <ion-icon name="home" color="light"></ion-icon>
        <ion-label color="light">Inicio</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="history" color="light">
        <ion-icon name="map" color="light"></ion-icon>
     
      <ion-label color="light" >Historial</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

