<ion-content no-border class="ion-no-border ion-no-margin ion-no-padding"  >
  <header>
  </header>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#c44569" fill-opacity="1" d="M0,320L120,288C240,256,480,192,720,149.3C960,107,1200,85,1320,74.7L1440,64L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
  
  
  <div class="title" style="text-align: center;">
      <ion-title size="large" color="dark">Alarmas Comunitarias</ion-title>
    </div>
      
    <div class="centerIcon">
      <img src="../../../assets/img/politicas-seguridad-equipos-dispositivos-ciberprotector_cuadrado.png" alt="">
      </div>
      <div class="ion-text-center">
        <span class="Title">Inicie Sesión</span>

      </div>
      <div class="container ion-padding-top">

      <form (ngSubmit)='login(loginForm)' #loginForm="ngForm">
        <ion-item>
          <ion-label position='floating'>Email</ion-label>
          <ion-icon slot="start" name="person" color="dark" class="ion-padding-end" ></ion-icon>
          <ion-input name="Email"
          [(ngModel)]="ciudadano.email"

                      type="email"
                      required></ion-input>
                     
          </ion-item>
          <span class="text-danger" 
          *ngIf="loginForm.submitted && 
          loginForm.controls['Email'].errors">Correo Necesario</span>

          <!-- <ion-input type="text" placeholder="Awesome Input"></ion-input> -->
          <ion-item>
            <ion-label position='floating'>Contraseña</ion-label>
            <ion-icon slot="start" name="lock-closed" color="dark" class="ion-padding-end" ></ion-icon>
            <ion-input name="Contraseña"
            [(ngModel)]="ciudadano.password"

                        type="password"
                        required></ion-input>
            </ion-item>
            <span class="text-danger" 
          *ngIf="loginForm.submitted && 
          loginForm.controls['Contraseña'].errors">Contraseña Necesaria</span>

            <div class="separacionbtns">

              <ion-button type="submit" 
              expand="block" shape="round"
              color="primary"
              >
                Ingresar
              </ion-button>

              <ion-button (click)="goRegister()"  expand="block" shape="round"
              color="primary">
              Crear una Cuenta
              </ion-button>
            </div>
                         
            </form>
          </div>
         
          
  </ion-content > 

