@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.header{
    background:#c44569;
    // position: absolute;
    width: 100%;
    height: 50%;
}

ion-card{
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.centerIcon{
    padding-top: 5px;
}

.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:rgba(255,255,255,0.2);
    position: fixed;
}
.circulo2 {
    margin-top:150px ;
    margin-left: 350px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:rgba(255,255,255,0.2);
    position: fixed;
}
.circulo3 {
    margin-top:250px ;
    margin-left: 0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:rgba(255,255,255,0.2);
    position: fixed;
}

img{
    height: 35px;
    width: 35px;
    margin: auto;
    display: block;
}

ion-icon{
    font-size: 100px;
}



ion-input{
  position: relative;
}


