<ion-content  class="ion-padding-top" >
    <div class="mapa">
      <div #map id="map"  style="width: 100%;height: 100%;"></div>
     
    </div>
       <!-- <img src="../../../assets/img/advertency.png" > -->
      <ion-list >
      <ion-title class="ion-bold ion-text-center" ><h4><strong> Alerta de Auxilio</strong></h4></ion-title>
      <ion-item  lines="none">
        <ion-label class="ion-bold"  >Nombre: </ion-label>
      <ion-input type="text" placeholder="Nombre" [value]="ciudadano.nombre" readonly></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label class="ion-bold"  >Apellido: </ion-label>
      <ion-input type="text" placeholder="Apellido" [value]="ciudadano.apellido" readonly></ion-input>
    </ion-item>

    <ion-item lines="none">
       <ion-label class="ion-bold"  >Dirección: </ion-label>
      <ion-input type="text" placeholder="Direccion" [value]="ciudadano.direccion" readonly></ion-input>
    </ion-item>

    <ion-item lines="none">
       <ion-label class="ion-bold"  >Teléfono: </ion-label>
      <ion-input type="text" placeholder="Telefono" [value]="ciudadano.telefono" readonly></ion-input>
    </ion-item>

    <ion-item lines="none">
       <ion-label class="ion-bold"  >Coordenadas: </ion-label>
      <ion-input type="text" placeholder="Coordenadas" [value]="coordenadas" readonly></ion-input>
    </ion-item>
    </ion-list>



</ion-content>
