 ion-label{
    font-size: 17px;
    padding-left: 10px;
    font-family: "Truculenta";
    color: rgb(67, 74, 78);
    }

    .tituto{
        font-size: 20px  !important;
        font-family:"Truculenta" ;
        // border-top: 2px solid rgba(93, 91, 91, 0.05) ;
        padding-top: 15px;
        color: rgb(68, 77, 83);
      }